@forward 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #464141;
    background-image: url("wisdomqr.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-color:rgb(238, 207, 236);
    min-height: 100vh;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 700;
}